# SPDX-License-Identifier: GPL-2.0
config VIDEO_WAVE4_VPU
	tristate "Chips&Media Wave4 Codec Driver"
	depends on V4L_MEM2MEM_DRIVERS
	depends on VIDEO_DEV && OF
	depends on ARCH_K3 || ARCH_SOPHGO || COMPILE_TEST
	select VIDEOBUF2_DMA_CONTIG
	select VIDEOBUF2_VMALLOC
	select V4L2_MEM2MEM_DEV
	select GENERIC_ALLOCATOR
	help
	  Chips&Media Wave4 stateful encoder and decoder driver.
	  This split is used for SG2002 Wave420L support.
	  To compile this driver as modules, choose M here: the
	  modules will be called wave4.
